{nocache}
<!DOCTYPE HTML>
<html lang="ja-JP">
<head>
	<meta charset="shift_jis">
	<title>リンク確認</title>
</head>
<body>
	<p>外部サイトにリンクします。</p>
	<a href="{$url}" accesskey=1>1. 直接表示</a><br>
	<p>お使いの端末で正常に表示できない場合下記の変換サービスをご利用ください。</p>
	<a href="http://p12.fileseek.net/p/s=10&u={$enurl}" accesskey=2>2. ﾌｧｲﾙｼｰｸ</a><br>
	<a href="http://www.sjk.co.jp/c/w.exe?y={$url}" accesskey=3>3. 通勤ﾌﾞﾗｳｻﾞ</a><br>
	<a href="http://google.co.jp/gwt/n?u={$url}" accesskey=4>4. google</a><br>
	<a href="http://google.co.jp/gwt/x?u={$url}" accesskey=5>5. google</a></br>
	<a href="http://device:pcsiteviewer?url={$url}" accesskey=6>6. PCSV</a></br>
</body>
</html>
<body>
{/nocache}